<html>
<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
</style>
</head>
<body>
@{
    ViewData["Title"] = "Logout";
}
<h1>ThankYou!</h1>

<h2>Successfully Logged Out</h2>
<div class="form-group mt-md-4">


<a class="btn btn-link " href="~/Home/Home" >Login Again</a>
</div>
</body>
</html>


