<html>
<head>
<style>
h1 {text-align: center; color:brown}
h2 {text-align: center;}

</style>

</head>
<body>

<h1>WELCOME CUSTOMER</h1>


<style>
body {
  
  background-color:lightblue;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80% 80%;
}
</style>


<div class="form-group mt-md-4">
<h2><a class="btn btn-success " href="~/BookProduct/CustomerIndex" >View All Products</a></h2>
</div>

<div class="form-group mt-md-4">
<h2><a class="btn btn-warning " href="~/BookService/CustomerIndex" >View All Services</a></h2>
</div>


<div class="form-group mt-md-4">
<h2><a class="btn btn-warning " href="~/Customer/Logout" >Logout</a></h2>
</div>

<div class="container  mt-md-1">
	<div style="margin:3% 3% 0% 15%">
		<img src="~/Image/Sharing-Economy-List.jpg"  class="img-fluid"/>
	</div>
</div>


</body>
</html>