<div class="container mb-3">
    
    <a href="~/Products/Add" class="btn btn-success" >Add Product</a>


</div>
</br>
<div class="container">
    <table class="table table-bordered table-hover ">
         <tr class="bg-success text-white">
            
            <th>ProductName</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
           
        </tr>
        @{
            try
            {
                if(TempData["products"]!=null)
                {
                    foreach (var x in (List<SharingEconomyPlatformProject.Models.Products>)TempData["products"])
                    {
                                <tr>
                                    
                                    <td>@x.ProductName</td>
                                    <td>@x.Quantity</td>
                                    <td>@x.Price</td>
                                    <td>
                                    <a href="~/Products/Edit/?id=@x.Id"class="btn btn-warning ">Update Product</a>
                                    <a href="~/Products/Delete/?id=@x.Id"class="btn btn-danger "  style="margin-left:2%">Remove Product</a>
                                    </td>
                                </tr>
                        
                    }
                }
            }
            catch
            {
                
            }
        }



    </table>

</div>