<html>
<head>
<style>
h1 {text-align: center; color:crimson}
h2 {text-align: center;}
</style>
</head>
<body>

<h1>WELCOME VENDOR</h1>
<style>
body {
  background-color:aliceblue;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80% 80%;
}
</style>



<div class="form-group mt-md-4">
<h2><a class="btn btn-warning " href="~/Services/Add" >Add Service</a></h2>
</div>


<div class="form-group mt-md-4">
<h2><a class="btn btn-success " href="~/Products/Add" >Add Product</a></h2>
</div>


<div class="form-group mt-md-4">
<h2><a class="btn btn-outline-warning " href="~/Products/Index">Manage Products</a></h2>
</div>

<div class="form-group mt-md-4">
<h2><a class="btn btn-outline-success " href="~/Services/Index">Manage Services</a></h2>
</div>

<div class="form-group mt-md-4">
<h2><a class="btn btn-warning " href="~/Vendor/Logout" >Logout</a></h2>
</div>

<div class="container  mt-md-1">
	<div style="margin:3% 3% 0% 15%">
		<img src="~/Image/Sharing-Economy-List.jpg"  class="img-fluid"/>
	</div>
</div>

</body>
</html>
