@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<p>Economy sharing platform started by providing businesses a simple and easy way. Since then, we have grown to be an all-in-one solution by expanding our platform and incorporating business all over the globe.</p>

<p>All around the world, we help vendors and customers by following rules and regulations according to our privacy policy.</p>
