<html>
<head>
<style>
h1 {text-align: center; color:greenyellow}
h2 {text-align: center;}
</style>
</head>
<body>
    

<h1>WELCOME TO SHARING ECONOMY PLATFORM</h1>
<p>
<style>
    .recommend img{
            left:2%;
            
        }
</style>

<br/><br/>



</p>


<style>
body {
  background-color:dodgerblue;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80% 80%;
}
</style>



<div class="form-group mt-md-2">
<h2><a class="btn btn-primary " href="~/Customer/Login" >Customer</a></h2>
</div>


<div class="form-group mt-md-4">
<h2><a class="btn btn-warning " href="~/Vendor/Login" >Vendor</a></h2>
</div>


<div class="form-group mt-md-4">
<h2><a class="btn btn-success " href="~/Admin/Login" >Admin</a></h2>
</div>
<div class="container  mt-md-1">
	<div style="margin:3% 3% 0% 15%">
		<img src="~/Image/Sharing-Economy-List.jpg"  class="img-fluid"/>
	</div>
</div>

</body>
</html>
