<html>
<head>
<style>
h1 {text-align: center; color:darkblue}
h2 {text-align: center;}
</style>
</head>
<body>

<h1>WELCOME ADMIN</h1>




<style>
body {
  background-color:burlywood;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80% 80%;
}
</style>



<div class="form-group mt-md-4">
<h2><a class="btn btn-success " href="~/Admin/CustomerDetails" >Customer Details</a></h2>
</div>

<div class="form-group mt-md-4">
<h2><a class="btn btn-success " href="~/Admin/VendorDetails" >VendorDetails</a></h2>
</div>

<div class="form-group mt-md-4">
<h2><a class="btn btn-warning " href="~/Products/Index" >View All Products</a></h2>
</div>

<div class="form-group mt-md-4">
<h2><a class="btn btn-warning " href="~/Services/Index" >View All Services</a></h2>
</div>

<div class="form-group mt-md-4">
<h2><a class="btn btn-danger " href="~/Admin/Logout" >Logout</a></h2>
</div>



</body>
</html>